.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 600px;
  // padding: 0 36px;

  width: 100%;
  height: 80px;
  background: rgba(18, 24, 41, 0.8);

  img {
      width: 28px;
      height: 32px;
  }

  .links {
    display: flex;
    gap: 16px;

    a {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 20px;
    }
  }
}
